<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>Berry Blast</h4>
    <p>Strawberries, Blueberries, Greek Yogurt, Honey</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>Green Power</h4>
    <p>Spinach, Kale, Green Apple, Coconut Water</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>Mango Madness</h4>
    <p>Mango, Coconut Milk, Pineapple, Chia Seeds</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>Chocolate Delight</h4>
    <p>Banana, Almond Milk, Cocoa Powder, Almond Butter</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>Citrus Zing</h4>
    <p>Orange, Lemon, Ginger, Carrot Juice</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>Avocado Dream</h4>
    <p>Avocado, Spinach, Lime, Coconut Water</p>
  </li>
</ul>

<%- include('partials/footer'); -%>
